.btn{
    color: '#FFFFFF';
    background-color: #009007;
    padding: 10px 20px;
    cursor: pointer;
    border:none;
}

.btn:hover{
    color: '#FFFFFF';
    background-color: #46bc1a;
    padding: 10px 20px;
    cursor: pointer;
    border:none;
}

.header{
    background-color: #009007;
    color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
}

.all{

    background-color: #46bc1a 0.1;
    font-family: monospace;

}
